body {
  position: relative;
  padding: 0 50px;
  margin: 0;
  font: 1.1vw 'Lucida Grande', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.event-wrap {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  overflow: hidden;
  text-align: center;
  margin-bottom: 0.5rem;
}
.event-wrap:hover .hoverMsg {
  display: flex;
}
.event-monitor-header {
  font-weight: bold;
}
.event-monitor-header div {
  height: 1vw;
  padding: 1vw 0;
}
.event-one {
  height: 11vw;
}
.event-one div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 100%;
}
.event-img {
  position: relative;
  width: 20%;
  overflow: hidden;
}
.event-time {
  width: 15%;
}
.event-camera {
  width: 20%;
}
.event-fileName {
  width: 35%;
}
.event-msg {
  padding: 0;
  width: 10%;
}

.event-wrap div:nth-child(1) {
  border: none;
}
.event-wrap div {
  border-left: 1px solid #000;
}

.event-img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.with-error {
  border: 2px solid red;
  cursor: pointer;
}
.with-error:hover .hoverMsg {
  display: flex;
}
.with-error div {
  border-color: red;
}
.hoverMsg-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.hoverMsg-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.hoverMsg-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.hoverMsg {
  position: absolute;
  display: none;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 100;
}
.popup-wrapper {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.733);
}
.popup-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 80vw;
  height: auto;
}
