extends layout

block content
  h3 Login to harpoon system 
  form(class="mui-form")
    legend Title
    div(class="mui-textfield")
      input(type="text" placeholder="User name")
    div(class="mui-textfield")
      input(type="text" placeholder="Input 2")
    button(type="submit" class="mui-btn mui-btn--raised") Submit
